# Uncomment one of them
#http-proxy 127.0.0.1 2334
#socks-proxy 127.0.0.1 2334

#ping-restart 30
#tun-mtu 1500
#mssfix 0
#fragment 0
#allow-compression no

#<auth-user-pass>
#user
#password
#</auth-user-pass>

# Rest of This is your OpenVPN Config
